E2E_BASE_URL=http://127.0.0.1:5174
E2E_ADMIN_EMAIL=
E2E_ADMIN_PASSWORD=
E2E_STUDY_EMAIL=
E2E_STUDY_PASSWORD=
E2E_TEACHER_EMAIL=
E2E_TEACHER_PASSWORD=
E2E_SECURITY_EMAIL=
E2E_SECURITY_PASSWORD=
E2E_STUDENT_EMAIL=
E2E_STUDENT_PASSWORD=
E2E_PUBLIC_DOCUMENT_PATH=
