POSTGRES_DB=college_portal
POSTGRES_USER=college_user
POSTGRES_PASSWORD=college_password
POSTGRES_PORT=5432

HTTP_PORT=8080
FRONTEND_PORT=5173
HTTPS_PORT=5443
DEV_HTTPS_HOST=college-dev.local
DEV_HTTPS_IP=192.168.34.104
