FIS_AGENT_BIND=127.0.0.1:8099
FIS_AGENT_TOKEN=change-me
FIS_AGENT_ALLOWED_IPS=127.0.0.1,::1
FIS_AGENT_ENABLE_SEND=false
FIS_TEST_ENDPOINT=http://10.0.3.1:8383/api/import/importservice.svc
FIS_CONNECT_TIMEOUT=5
FIS_REQUEST_TIMEOUT=30
FIS_SPEC_DIR=./specs/4.9
